.container {
  user-select: none;
  border-bottom: 2px solid var(--blue);

  background: var(--light-blue);
}
.internalContainer {
  padding: 2rem;
  position: relative;

  display: flex;
  justify-content: space-between;
}
